* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .8rem;
}

:root {
    --primary-color: #000000;
    --text: #ffffff;
    --share: #4bc800;
    --end: #ff0000;
    --bg-footer: #222222;
    --details: #4a4a4a;

}

.wrapper {
    height: 100vh;
    width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.j-content {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

img {
    width: 100%;
}

/* Header  */

header {
    background-color: var(--primary-color);
    height: 6.5vh;
    width: 100%;
    position: relative;
}

header div {
    min-width: 7%;
    position: absolute; 
    top: 0;
    right: .2rem;
    margin-top: .3rem;
    vertical-align: middle;
}
header button {
    background-color: var(--details);
    padding: .2rem .3rem;
    border-radius: .3rem;
    color: var(--text);
    cursor: pointer;
    
}
.view {
    margin-right: .5rem;
}

.column {
    flex-direction: column;
}

/* main  */

main {
    background-color: var(--primary-color);
}

.container {
    width: 80%;
    
}

img {
    display: block;
}

main span {
    color: var(--text);
    background-color:rgba(74, 74, 74, 0.5);
    padding: .2rem .3rem;
    position: absolute;
    left: .15rem;
    bottom: .7rem;
}

.card {
    width: calc(100% / 7);
    padding: 0 .25rem .7rem 0;
    position: relative;
    
}

/* footer  */

footer {
    height: 6.5vh;
    color: var(--text);
    background-color: var(--primary-color);
    
}

.icon {
    display: inline-block;
    
    
}

/* i, footer span {
    display: block;
} */

